html.loading {
  filter: brightness(0);
  transition: filter 2000ms;
}
html:not(.loading) {
  filter: brightness(1);
  transition: filter 2000ms;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  place-items: center;
  position: relative;
}

span {
  font-family: "Bodoni Moda", serif, system-ui;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  text-shadow: 3px 3px 6px rgba(50, 50, 50, 0.5);
  text-align: center;
}
